.app {
  background: black;
  color: white;
  font-family: Arial;
}
header {
  text-align: center;
  font-size: 24px;
}
nav {
  display: flex;
  justify-content: space-around;
}
nav a {
  color: white;
  text-decoration: none;
}